.flex-container {
  display: flex;
  width: 100px;
  flex-wrap: wrap;
}

h1 {
  position: static;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  color: #ff6b00;
  width: 327px;
  height: 124px;
  left: 24px;
  top: 121px;
  letter-spacing: 0.37px;
  flex: none;
  flex-grow: 0;
  margin: 12px;
}

header {
  background: #5c5c5c;
  position: absolute;
  width: 423px;
  height: 92px;
  margin-top: -9px;
  margin-left: -9px;
  display: flex;
}

h2 {
  font-family: 'Roboto', sans-serif;
  position: static;
  width: 327px;
  height: 27px;
  left: 24px;
  top: 256px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px;
}

.headline {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  position: absolute;
  width: 375px;
  height: 590px;
  top: 50px;
  margin-top: -9px;
  margin-left: -9px;
  background-image: url("illustration-header-mobile.png");
  background-repeat: no-repeat;
  background-position: right;
}

p {
  font-family: 'Roboto', sans-serif;
  position: static;
  width: 327px;
  height: 123px;
  left: 24px;
  top: 295px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 12px;
}

#logo {
  position: static;
  width: 77px;
  height: 24px;
  left: 12px;
  top: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px;
}

#img2 {
  position: absolute;
  width: 18px;
  height: 30px;
  left: 400px;
  top: 6px;
}

.bottom {
  position: absolute;
  margin-top: 480px;
  margin-left: 2px;
  word-spacing: 30px;
}

li {
  display: block;
  float: left;
  text-align: left;
  padding: 20px;
}

.grid-container {
  display: grid;
  padding: 10px;
  position: relative;
  width: 375px;
  height: 3000px;
  background: #fff;
  top: 900px;
}

.head {
  position: static;
  width: 327px;
  height: 83px;
  left: 1px;
  top: 1px;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #1c1a19;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: -20px;
}

.border {
  position: inherit;
  width: 327px;
  height: 1px;
  left: 1px;
  top: 10px;
  border-bottom: 1px solid #212121;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: -20px;
}

#img7 {
  position: static;
  width: 327px;
  height: 237px;
  top: 1px;
  background: url(Img_Placeholder.png);
  flex: none;
  margin-top: 90px;
  margin-left: -20px;
}

.post {
  position: static;
  width: 327px;
  height: 36px;
  left: 1px;
  top: 1px;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: -18px;
}

.support {
  position: static;
  width: 327px;
  height: 147px;
  left: 1px;
  top: 48px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-left: -18px;
  margin-top: -20px;
}

.tag {
  position: static;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  line-height: 20px;
  width: 25px;
  height: 40px;
  left: 12px;
  top: 10px;
  flex: none;
  order: 2;
  flex-grow: 0;
  color: #091e42;
  margin-left: -12px;
  padding-top: 1px;
}

#tag1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  position: static;
  width: 49px;
  height: 40px;
  left: 1px;
  top: 1px;
  background: #fff;
  border: 1px solid #8993a4;
  box-sizing: border-box;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 1px 12px;
}

#tag2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  position: static;
  width: 56px;
  height: 40px;
  left: 1px;
  top: 1px;
  background: #fff;
  border: 1px solid #8993a4;
  box-sizing: border-box;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 1px 12px;
}

#tag3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  position: static;
  width: 95px;
  height: 40px;
  left: 1px;
  top: 1px;
  background: #fff;
  border: 1px solid #8993a4;
  box-sizing: border-box;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 1px 12px;
}

#tag4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  position: static;
  width: 61px;
  height: 40px;
  left: 1px;
  top: 1px;
  background: #fff;
  border: 1px solid #8993a4;
  box-sizing: border-box;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 1px 12px;
}

.btn {
  height: 48px;
  width: 124px;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 17px;
  background-color: #ff6b00;
  transition: solid 0s;
  border-color: transparent;
  margin-top: 100px;
  margin-left: -365px;
}

.img8 {
  background: url(Img_Placeholder1.png);
  background-repeat: no-repeat;
  position: static;
  width: 350px;
  height: 400px;
  top: 1px;
  flex: none;
  margin-top: 90px;
  margin-left: -10px;
}

.post2 {
  position: static;
  width: 295px;
  height: 81px;
  margin-left: -15px;
  top: 8px;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: -374px;
}

.support2 {
  position: static;
  width: 295px;
  height: 87px;
  left: 16px;
  top: 101px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: -270px;
  margin-left: -15px;
}

.tagB {
  font-family: 'Inter', sans-serif;
  position: static;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-style: normal;
  line-height: 20px;
  margin-left: -9px;
  margin-top: -250px;
  float: left;
  color: #fff;
}

#tag5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  position: static;
  width: 55px;
  height: 40px;
  left: 1px;
  top: 1px;
  background-color: rgba(255, 255, 255, 0.24);
  border: 1px transparent;
  box-sizing: border-box;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 1px 12px;
}

#tag6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  position: static;
  width: 90px;
  height: 40px;
  left: 1px;
  top: 1px;
  background-color: rgba(255, 255, 255, 0.24);
  border: 1px transparent;
  box-sizing: border-box;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 1px 12px;
}

#tag7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  position: static;
  width: 61px;
  height: 40px;
  left: 1px;
  top: 1px;
  background-color: rgba(255, 255, 255, 0.24);
  border: 1px transparent;
  box-sizing: border-box;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 1px 12px;
}

.btn1 {
  height: 48px;
  width: 329px;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 17px;
  background-color: #ff6b00;
  transition: solid 0s;
  border-color: transparent;
  margin-top: 129px;
  margin-left: -300px;
  position: static;
}

.tab {
  margin-top: -2600px;
  position: absolute;
  width: 400px;
  height: 2500px;
  left: 1px;
  top: 4137px;
  background: #1c1a19;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url(illustration-about-me-mobile.png);
  background-position-y: 400px;
}

.about {
  text-align: center;
  position: static;
  width: 327px;
  height: 79px;
  left: 24px;
  top: 120px;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: -30px;
  margin-top: 70px;
}

.support3 {
  position: static;
  width: 327px;
  height: 148px;
  left: 24px;
  top: 223px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-left: -30px;
}

.btn3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  position: static;
  width: 161px;
  height: 48px;
  left: 24px;
  top: 395px;
  background-color: #ff6b00;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin-top: -30px;
  margin-left: -28px;
  font-family: 'Inter', sans-serif;
  color: #fff;
  font-weight: bold;
  font-size: 17px;
  transition: solid 0s;
  border-color: transparent;
  text-align: center;
}

.border1 {
  position: inherit;
  width: 320px;
  height: 1px;
  left: 1px;
  top: 10px;
  border-bottom: 1px solid #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 180px;
  margin-left: -20px;
}

.lang {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: static;
  width: 225.46px;
  height: 281.46px;
  left: 51.77px;
  top: 120px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 40px;
  color: #fff;
}

.main {
  position: static;
  width: 164px;
  height: 24px;
  left: 49.46px;
  top: 8.73px;
  font-family: "InaiMathi", "Tamil Sangam MN", "Nirmala UI", Latha, Bamini, Roboto, Noto, "Noto Sans Tamil", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: -350px;
  margin-left: 20px;
}

.java {
  position: static;
  width: 114px;
  height: 24px;
  left: 1px;
  top: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 230px;
  margin-left: 10px;
}

.ruby {
  position: static;
  width: 114px;
  height: 24px;
  left: 1px;
  top: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 60px;
}

.html {
  position: static;
  width: 114px;
  height: 24px;
  left: 1px;
  top: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 65px;
}

.css {
  position: static;
  width: 114px;
  height: 24px;
  left: 1px;
  top: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 74px;
}

#fw {
  width: 164px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  align-items: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.fw {
  position: static;
  width: 114px;
  height: 24px;
  left: 1px;
  top: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  flex-direction: column;
  margin-top: 230px;
  margin-left: 100px;
}

.skills {
  position: static;
  width: 114px;
  height: 24px;
  left: 1px;
  top: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  flex-direction: column;
  margin-top: 450px;
  margin-left: 100px;
}

#skills {
  width: 164px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  align-items: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 80px;
}

#star {
  background: #ff6b00;
  width: 1px;
  height: 1px;
  transform: rotate(-45deg);
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: -250px;
  position: absolute;
  margin-top: 150px;
}

#box {
  background: #ff6b00;
  width: 1px;
  height: 1px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: -250px;
  position: absolute;
  margin-top: 20px;
}

#circle {
  background: #ff6b00;
  width: 1px;
  height: 1px;
  border-radius: 150px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: -250px;
  position: absolute;
  margin-top: 25px;
}
