body {
  box-sizing: border-box;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  overflow-x: hidden;
}

.container {
  position: absolute;
}

#blur.active {
  filter: blur(15px);
  pointer-events: none;
  user-select: none;
  display: block;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  position: static;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  color: #00c8ff4b;
  width: 100%;
  flex: none;
  flex-grow: 0;
  text-align: start;
}

.menu {
  width: 90%;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

#menu-over {
  background-color: #fff;
  overflow: hidden;
  position: fixed;
  display: none;
  height: 100%;
  top: 0;
}

.closeMenu {
  height: 20px;
  width: 10%;
  position: absolute;
  right: 0;
  top: 10px;
  background-image: url(Images/CancelButton.png);
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  list-style: none;
}

.mobile-menu a {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #051258;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 20%;
}

.hr {
  left: 1px;
  right: 1px;
  border-bottom: 1px solid #6f6c6b;
  margin-left: 40px;
  margin-top: 90px;
  position: absolute;
}

.hr1 {
  left: 1px;
  right: 1px;
  border-bottom: 1px solid #6f6c6b;
  margin-left: 40px;
  margin-top: 160px;
  position: absolute;
}

.hr2 {
  left: 1px;
  right: 1px;
  border-bottom: 1px solid #6f6c6b;
  margin-left: 40px;
  margin-top: 240px;
  position: absolute;
}

.pro {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
  flex: none;
}

.headline {
  background-color: black;
  display: flex;
  height: 750px;
  flex-direction: column;
  padding: 120px 24px;
  margin-top: -67px;
  background-image: url("Images/illustration-header-mobile.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 390px;
}

.discription {
  font-family: 'Roboto', sans-serif;
  position: static;
  width: 90%;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 2;
  flex-grow: 0;
}

#logo {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
}

#img2 {
  height: 5%;
  width: 5%;
  padding-top: 1%;
}

.bottom {
  margin-top: -200px;
}

li {
  display: block;
  float: left;
  text-align: left;
  padding: 4%;
}

.grid-container {
  height: 30px;
  background: #fff;
  margin-top: 400px;
  display: grid;
  justify-self: center;
}

.head {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 150px;
  text-align: center;
  color: #1c1a19;
}

.border {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #212121;
}

#img7 {
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background: url(Images/Img_Placeholder.png);
  background-repeat: no-repeat;
  background-position: center;
}

.post {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  margin-top: -30px;
  text-align: center;
  color: #091e42;
}

.support {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  align-items: center;
}

.flex-contain {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.tag {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-top: 3%;
  margin-right: auto;
  gap: 7px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: #091e42;
}

#tag1 {
  padding: 10px 12px;
  position: static;
  background: #fff;
  border: 1px solid #8993a4;
  box-sizing: border-box;
}

#tag2 {
  padding: 10px 12px;
  position: static;
  background: #fff;
  border: 1px solid #8993a4;
  box-sizing: border-box;
}

#tag3 {
  padding: 10px 12px;
  position: static;
  background: #fff;
  border: 1px solid #8993a4;
  box-sizing: border-box;
}

#tag4 {
  padding: 10px 12px;
  position: static;
  background: #fff;
  border: 1px solid #8993a4;
  box-sizing: border-box;
}

.btn {
  height: 48px;
  width: 40%;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 17px;
  background-color: #181678;
  transition: solid 0s;
  border-color: transparent;
  margin-top: 7%;
  margin-left: 40px;
  border-radius: 40px;
}

.img8 {
  background: url(Images/Img_Placeholder1.png);
  position: static;
  height: 300px;
  width: 90%;
  margin-top: 560px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  border-radius: 40px;
}

.im8 {
  background: url(Images/Img_Placeholder1.png);
  position: static;
  height: 300px;
  width: 90%;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  border-radius: 40px;
}

.post2 {
  position: static;
  width: 80%;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  text-align: center;
  color: #051258;
  margin-top: -374px;
}

.tagB {
  font-family: 'Inter', sans-serif;
  justify-content: center;
  font-style: normal;
  line-height: 20px;
  color: #fefeff;
  position: absolute;
  margin-top: -80px;
  align-items: center;
  text-align: center;
}

#tag5 {
  align-items: center;
  padding: 10px 12px;
  position: static;
  background-color: #02083354;
  border: 1px transparent;
  box-sizing: border-box;
  border-radius: 24px;
  margin: 1px 8px;
}

#tag6 {
  align-items: center;
  padding: 10px 12px;
  position: static;
  background-color: #02083354;
  border: 1px transparent;
  box-sizing: border-box;
  border-radius: 24px;
  margin: 1px 8px;
}

#tag7 {
  align-items: center;
  padding: 10px 12px;
  position: static;
  background-color: #02083354;
  border: 1px transparent;
  box-sizing: border-box;
  margin: 1px 8px;
  border-radius: 24px;
}

.botn {
  height: 48px;
  width: 85%;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 17px;
  background-color: #181678;
  transition: solid 0s;
  border-color: transparent;
  margin-top: 15px;
  margin-left: 7%;
  border-radius: 40px;
}

.btn1 {
  height: 48px;
  width: 85%;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 17px;
  background-color: #181678;
  transition: solid 0s;
  border-color: transparent;
  margin-top: 15px;
  margin-left: 7%;
  border-radius: 40px;
}

.btn2 {
  height: 48px;
  width: 85%;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 17px;
  background-color: #181678;
  transition: solid 0s;
  border-color: transparent;
  margin-top: 15px;
  margin-left: 7%;
  border-radius: 40px;
}

.btn3 {
  height: 48px;
  width: 85%;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 17px;
  background-color: #181678;
  transition: solid 0s;
  border-color: transparent;
  margin-top: 15px;
  margin-left: 7%;
  border-radius: 40px;
}

.btn4 {
  height: 48px;
  width: 85%;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 17px;
  background-color: #181678;
  transition: solid 0s;
  border-color: transparent;
  margin-top: 15px;
  margin-left: 7%;
  border-radius: 40px;
}

.btn5 {
  height: 48px;
  width: 85%;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 17px;
  background-color: #181678;
  transition: solid 0s;
  border-color: transparent;
  margin-top: 15px;
  margin-left: 7%;
  border-radius: 40px;
}

.tab {
  position: relative;
  height: 100%;
  top: 3800px;
  background: #000;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url(Images/illustration-about-me-mobile.png);
  background-position-y: 300px;
}

.about {
  text-align: center;
  position: static;
  height: 130px;
  width: 100%;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 188px;
  letter-spacing: 0.37px;
  color: #00c8ff4b;
  margin-top: 100px;
}

.support3 {
  position: static;
  width: 90%;
  height: 148px;
  left: 24px;
  top: 223px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  flex: none;
  margin-left: 3%;
  margin-top: 40px;
}

.button3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  position: static;
  width: 161px;
  height: 48px;
  left: 24px;
  top: 395px;
  background-color: #181678;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin-top: 30px;
  margin-left: 18px;
  font-family: 'Inter', sans-serif;
  color: #fff;
  font-weight: bold;
  font-size: 17px;
  transition: solid 0s;
  border-color: transparent;
  text-align: center;
  border-radius: 40px;
}

.border1 {
  position: inherit;
  width: 90%;
  height: 1px;
  left: 1px;
  top: 10px;
  border-bottom: 1px solid #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 170px;
  margin-left: auto;
  margin-right: auto;
}

.lang {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: static;
  top: 120px;
  color: #fff;
}

.main {
  position: static;
  height: 24px;
  left: 49.46px;
  top: 8.73px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 146px;
  margin-left: 20px;
}

.java {
  position: static;
  height: 24px;
  left: 1px;
  top: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 20px;
}

.ruby {
  position: static;
  left: 1px;
  top: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.html {
  position: static;
  left: 1px;
  top: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.css {
  position: static;
  left: 1px;
  top: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

#fw {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  align-items: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.fw {
  position: static;
  width: 100%;
  left: 1px;
  top: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  flex-direction: column;
  margin-top: 230px;
}

.skills {
  position: static;
  width: 100%;
  left: 1px;
  top: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  flex-direction: column;
  margin-top: 300px;
}

#skills {
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  align-items: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#star {
  background: #181678;
  width: 1px;
  height: 1px;
  transform: rotate(-45deg) scale(0.5);
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: -180px;
  position: absolute;
  margin-top: 148px;
}

#box {
  background: #181678;
  width: 1px;
  height: 1px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: -230px;
  position: absolute;
  margin-top: 20px;
  transform: scale(0.5);
}

#circle {
  background: #181678;
  width: 1px;
  height: 1px;
  border-radius: 150px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: -130px;
  position: absolute;
  margin-top: 20px;
  transform: scale(0.5);
}

#tag8 {
  align-items: center;
  padding: 10px 12px;
  position: static;
  background-color: #02083354;
  border: 1px transparent;
  box-sizing: border-box;
  margin: 1px 8px;
  border-radius: 24px;
}

#tag9 {
  align-items: center;
  padding: 10px 12px;
  position: static;
  background-color: #02083354;
  border: 1px transparent;
  box-sizing: border-box;
  margin: 1px 8px;
  border-radius: 24px;
}

#tag10 {
  align-items: center;
  padding: 10px 12px;
  position: static;
  background-color: #02083354;
  border: 1px transparent;
  box-sizing: border-box;
  margin: 1px 8px;
  border-radius: 24px;
}

.button3:hover {
  background-color: #e3e1ff;
  color: #0800f5;
  border: 1px solid #0e0c47;
  box-sizing: border-box;
}

.button3:active {
  background-color: #0e0c47;
  color: #f4f1f0;
}

.btn:hover {
  background-color: #e3e1ff;
  color: #0800f5;
  border: 1px solid #0e0c47;
  box-sizing: border-box;
}

.btn:active {
  background-color: #0e0c47;
  color: #f4f1f0;
}

.btn1:hover {
  background-color: #e3e1ff;
  color: #0800f5;
  border: 1px solid #0e0c47;
  box-sizing: border-box;
}

.btn1:active {
  background-color: #0e0c47;
  color: #f4f1f0;
}

.botn:hover {
  background-color: #e3e1ff;
  color: #0800f5;
  border: 1px solid #0e0c47;
  box-sizing: border-box;
}

.botn:active {
  background-color: #0e0c47;
  color: #f4f1f0;
}

.btn2:hover {
  background-color: #e3e1ff;
  color: #0800f5;
  border: 1px solid #0e0c47;
  box-sizing: border-box;
}

.btn2:active {
  background-color: #0e0c47;
  color: #f4f1f0;
}

.btn3:hover {
  background-color: #e3e1ff;
  color: #0800f5;
  border: 1px solid #0e0c47;
  box-sizing: border-box;
}

.btn3:active {
  background-color: #0e0c47;
  color: #f4f1f0;
}

.btn4:hover {
  background-color: #e3e1ff;
  color: #0800f5;
  border: 1px solid #0e0c47;
  box-sizing: border-box;
}

.btn4:active {
  background-color: #0e0c47;
  color: #f4f1f0;
}

.btn5:hover {
  background-color: #e3e1ff;
  color: #0800f5;
  border: 1px solid #0e0c47;
  box-sizing: border-box;
}

.btn5:active {
  background-color: #0e0c47;
  color: #f4f1f0;
}

#nax-bar {
  display: none;
}

.support4 {
  display: none;
}

.post3 {
  display: none;
}

.support5 {
  display: none;
}

.post4 {
  display: none;
}

.tagC {
  display: none;
}

#taga {
  display: none;
}

#tagb {
  display: none;
}

#tagc {
  display: none;
}

.support6 {
  display: none;
}

.post5 {
  display: none;
}

.support7 {
  display: none;
}

.post6 {
  display: none;
}

.support8 {
  display: none;
}

.post7 {
  display: none;
}

.tagD {
  display: none;
}

#tagd {
  display: none;
}

#tage {
  display: none;
}

#tagf {
  display: none;
}

.tagE {
  display: none;
}

#D-tag {
  display: none;
}

#D-tag1 {
  display: none;
}

#D-tag2 {
  display: none;
}

.tagF {
  display: none;
}

#D-tag3 {
  display: none;
}

#D-tag4 {
  display: none;
}

#D-tag5 {
  display: none;
}

.tagG {
  display: none;
}

#D-tag6 {
  display: none;
}

#D-tag7 {
  display: none;
}

#D-tag8 {
  display: none;
}

#contact-form {
  background-color: #fff;
  margin-top: 3900px;
  line-height: 90px;
  align-items: center;
  text-align: center;
}

.info {
  width: 80%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  margin-left: auto;
  margin-right: auto;
}

#full-name {
  position: static;
  height: 18px;
  width: 80%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  align-items: center;
  color: #979493;
  border-bottom: 1px solid #979493;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  margin-left: auto;
  margin-right: auto;
}

#email-address {
  height: 18px;
  width: 80%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  align-items: center;
  color: #979493;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #979493;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
}

#message {
  background: #fbf8f7;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  width: 80%;
  align-self: center;
  border: transparent;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.button4 {
  display: flex;
  margin-top: 1px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding: 12px;
  position: static;
  height: 48px;
  background-color: #181678;
  font-family: 'Inter', sans-serif;
  color: #fff;
  font-weight: bold;
  font-size: 17px;
  transition: solid 0s;
  border-color: transparent;
  text-align: center;
  border-radius: 40px;
}

.button4:hover {
  background-color: #e3e1ff;
  color: #0800f5;
  border: 1px solid #0e0c47;
  box-sizing: border-box;
}

.button4:active {
  background-color: #0e0c47;
  color: #f4f1f0;
}

#full-name::placeholder {
  padding-left: 10px;
  margin-top: 70px;
}

#email-address::placeholder {
  padding-left: 10px;
}

#message::placeholder {
  padding-left: 10px;
}

.form-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 50px;
  bottom: 0;
}

.hr-line {
  width: 80%;
  position: static;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #dfe1e6;
}

#fs-frm {
  margin-top: 300px;
}

.name {
  display: none;
}

.nav-link1 {
  display: none;
}

.nav-link2 {
  display: none;
}

.nav-link3 {
  display: none;
}

#email {
  display: none;
}

.popup {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  position: fixed;
  width: 100%;
  height: 70%;
  left: 1px;
  bottom: 0;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  margin-top: -10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.popup1 {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  position: fixed;
  width: 100%;
  height: 70%;
  left: 1px;
  bottom: 0;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  margin-top: -10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.popup2 {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  position: fixed;
  width: 100%;
  height: 70%;
  left: 1px;
  bottom: 0;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  margin-top: -10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.popup3 {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  position: fixed;
  width: 100%;
  height: 70%;
  left: 1px;
  bottom: 0;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  margin-top: -10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.popup4 {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  position: fixed;
  width: 100%;
  height: 70%;
  left: 1px;
  bottom: 0;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  margin-top: -10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.popup5 {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  position: fixed;
  width: 100%;
  height: 70%;
  left: 1px;
  bottom: 0;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  margin-top: -10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.closePopUp {
  height: 20px;
  width: 10%;
  position: absolute;
  right: 0;
  top: 10px;
  background-image: url(Images/CancelButton.png);
  background-repeat: no-repeat;
}

.popuptg {
  width: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  position: static;
  left: 59.63%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  border: 1px solid #979493;
  box-sizing: border-box;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 1px 8px;
}

.popuptg1 {
  width: 86px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  position: static;
  left: 59.63%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  border: 1px solid #979493;
  box-sizing: border-box;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 1px 8px;
}

.popuptg2 {
  width: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  position: static;
  left: 59.63%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  border: 1px solid #979493;
  box-sizing: border-box;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 1px 8px;
}

.Mobile-head {
  position: static;
  text-align: center;
  top: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 5px;
  color: #172b4d;
}

.Desktop-head {
  display: none;
}

.Text {
  position: static;
  width: 94%;
  margin-left: auto;
  margin-right: auto;
  text-align: start;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #344563;
}

.see-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px;
  position: absolute;
  width: 135px;
  height: 44px;
  bottom: 10px;
  color: #fff;
  background: #181678;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  background-image: url(Images/popupicon1.png);
  background-repeat: no-repeat;
  background-position-x: 110px;
  background-position-y: 12px;
  border: transparent;
  border-radius: 20px;
}

.source-button {
  display: flex;
  flex-direction: row;
  padding: 12px;
  position: absolute;
  width: 135px;
  height: 44px;
  left: 180px;
  bottom: 10px;
  color: #fff;
  background: #181678;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  background-image: url(Images/popupicon.png);
  background-repeat: no-repeat;
  background-position-x: 110px;
  background-position-y: 12px;
  border: transparent;
  border-radius: 20px;
}

.source-button:hover {
  background-color: #e3e1ff;
  color: #0800f5;
  border: 1px solid #0e0c47;
}

.source-button:active {
  background-color: #0e0c47;
  color: #f4f1f0;
}

.see-button:hover {
  background-color: #e3e1ff;
  color: #0800f5;
  border: 1px solid #0e0c47;
}

.see-button:active {
  background-color: #0e0c47;
  color: #f4f1f0;
}

#Ten-desktop {
  display: none;
}

#Ten img {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.message {
  display: none;
}

span {
  color: red;
}

.full-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

@media only screen and (min-width: 892px) {
  body {
    box-sizing: border-box;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    overflow-x: hidden;
  }

  .container {
    position: absolute;
  }

  #menu-over {
    background-color: #fff;
    overflow: hidden;
    position: fixed;
    display: none;
    height: 0;
    top: 0;
  }

  .mobile-menu {
    display: none;
  }

  .menu {
    display: none;
  }

  #blur.active {
    filter: blur(15px);
    pointer-events: none;
    user-select: none;
    display: block;
  }

  #nav-bar {
    display: flex;
    position: absolute;
    width: 96%;
    justify-content: space-between;
    margin-top: 20px;
  }

  header {
    display: none;
  }

  .headline {
    background-color: black;
    height: 1000px;
    top: 70px;
    background-image: url("Images/Illustration-header.png");
  }

  h1 {
    position: static;
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    color: #00c8ff4b;
    left: 0;
    width: 30%;
    height: 10px;
    padding: 10%;
    letter-spacing: 0.37px;
  }

  .pro {
    font-family: 'Roboto', sans-serif;
    position: static;
    width: 100%;
    margin-top: -160px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    display: flex;
    color: #fff5e1;
    flex: none;
    padding: 10%;
  }

  .discription {
    font-family: 'Roboto', sans-serif;
    position: static;
    width: 40%;
    margin-top: -280px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: #fff;
    flex: none;
    order: 2;
    flex-grow: 0;
    padding: 10%;
  }

  .bottom {
    position: static;
    margin-top: -890px;
    margin-left: 14px;
    width: 20px;
    line-height: 50px;
  }

  .head {
    height: 52px;
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 0;
    color: #091e42;
    padding-right: 60%;
  }

  .border {
    position: static;
    width: 60%;
    height: 1px;
    border-bottom: 2px solid #212121;
    margin-top: -59px;
    margin-left: 40%;
  }

  .grid-container {
    display: grid;
    padding: 10px;
    position: relative;
    height: 1100px;
    background: #fff;
    top: 700px;
  }

  #img7 {
    position: static;
    width: 45%;
    height: 448px;
    right: 0;
    top: 1px;
    margin-top: 130px;
    margin-left: 30px;
    background: url(Images/4.png);
  }

  .post {
    position: static;
    height: 58px;
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 62px;
    text-align: center;
    color: #091e42;
    margin-top: -458px;
    margin-left: 420px;
  }

  .support {
    position: static;
    width: 448px;
    height: 140px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #091e42;
    margin-left: 800px;
  }

  .tag {
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    line-height: 10px;
    height: 10px;
    color: #091e42;
    margin-left: 800px;
  }

  .btn {
    height: 48px;
    width: 10%;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 17px;
    background-color: #181678;
    transition: solid 0s;
    border-color: transparent;
    margin-top: 40px;
    margin-left: 800px;
  }

  .name {
    position: static;
    width: 70%;
    height: 20px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    margin-left: 40px;
    display: flex;
    color: #fff;
    animation-duration: 3.5s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  #info {
    transition: all 0.8s ease;
  }

  .hd-line-title {
    transition: all 0.5s ease-out;
  }

  .nav-link1 {
    font-family: 'Inter', sans-serif;
    position: static;
    height: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    display: block;
    color: #fff;
  }

  .nav-link2 {
    font-family: 'Inter', sans-serif;
    position: static;
    height: 20px;
    font-style: normal;
    font-weight: 600;
    display: block;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
  }

  .nav-link3 {
    font-family: 'Inter', sans-serif;
    position: static;
    display: block;
    height: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #fff;
  }

  #email {
    position: static;
    height: 20px;
    display: block;
    line-height: 20px;
  }

  #grid-container1 {
    display: grid;
    margin-top: 1600px;
    margin-left: 93px;
    width: 350px;
    height: 100px;
  }

  .flex-contain {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    justify-content: center;
    margin-top: 7%;
  }

  .img8 {
    background: url(Images/Img_Placeholder1.png);
    position: static;
    height: 300px;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    border-radius: 40px;
  }

  .im8 {
    background: url(Images/Img_Placeholder1.png);
    position: static;
    height: 300px;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    border-radius: 40px;
  }

  .tagB {
    font-family: 'Inter', sans-serif;
    justify-content: center;
    font-style: normal;
    line-height: 20px;
    color: #fefeff;
    display: flex;
    margin-top: -80px;
    align-items: center;
    text-align: center;
  }

  .btn1 {
    height: 48px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 17px;
    background-color: #181678;
    transition: solid 0s;
    border-color: transparent;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
  }

  #img9 {
    background: url(Images/Img_Placeholder1.png);
    position: static;
    width: 350px;
    height: 400px;
    top: 1px;
    flex: none;
    margin-top: -670px;
    margin-left: 100px;
  }

  .post3 {
    position: static;
    width: 337px;
    height: 81px;
    margin-left: 55px;
    top: 8px;
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: -284px;
    display: block;
  }

  .support4 {
    position: static;
    width: 337px;
    height: 72px;
    left: 16px;
    top: 113px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: -190px;
    margin-left: 55px;
    display: block;
  }

  .tagC {
    font-family: 'Inter', sans-serif;
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-style: normal;
    line-height: 20px;
    margin-left: 60px;
    margin-top: -90px;
    float: left;
    color: #fff;
  }

  #taga {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    position: static;
    width: 55px;
    height: 40px;
    left: 1px;
    top: 1px;
    background-color: rgba(255, 255, 255, 0.24);
    border: 1px transparent;
    box-sizing: border-box;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 1px 12px;
  }

  #tagb {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    position: static;
    width: 90px;
    height: 40px;
    left: 1px;
    top: 1px;
    background-color: rgba(255, 255, 255, 0.24);
    border: 1px transparent;
    box-sizing: border-box;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 1px 12px;
  }

  #tagc {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    position: static;
    width: 61px;
    height: 40px;
    left: 1px;
    top: 1px;
    background-color: rgba(255, 255, 255, 0.24);
    border: 1px transparent;
    box-sizing: border-box;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 1px 12px;
  }

  #img10 {
    background: url(Images/Img_Placeholder3.png);
    position: static;
    width: 350px;
    height: 400px;
    top: 1px;
    flex: none;
    margin-top: -875px;
    margin-left: 470px;
    display: block;
  }

  #img11 {
    background: url(Images/Img_Placeholder2.png);
    position: static;
    width: 350px;
    height: 400px;
    top: 1px;
    flex: none;
    margin-top: -415px;
    margin-left: 845px;
  }

  #img12 {
    background: url(Images/Img_Placeholder3.png);
    position: static;
    width: 350px;
    height: 385px;
    top: 1px;
    flex: none;
    margin-top: 55px;
    margin-left: 470px;
  }

  #img13 {
    background: url(Images/Img_Placeholder2.png);
    position: static;
    width: 350px;
    height: 385px;
    top: 1px;
    flex: none;
    margin-top: -400px;
    margin-left: 845px;
    background-size: cover;
  }

  .post4 {
    position: static;
    width: 337px;
    height: 21px;
    margin-left: -45px;
    top: 8px;
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: -750px;
    display: block;
  }

  .support5 {
    position: static;
    width: 337px;
    height: 22px;
    left: 16px;
    top: 113px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: -655px;
    margin-left: -45px;
    display: block;
  }

  .tagD {
    font-family: 'Inter', sans-serif;
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-style: normal;
    line-height: 20px;
    margin-left: 429px;
    margin-top: -540px;
    float: left;
    color: #fff;
  }

  #tagd {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    position: static;
    width: 55px;
    height: 40px;
    left: 1px;
    top: 1px;
    background-color: rgba(255, 255, 255, 0.24);
    border: 1px transparent;
    box-sizing: border-box;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 1px 12px;
  }

  #tage {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    position: static;
    width: 90px;
    height: 40px;
    left: 1px;
    top: 1px;
    background-color: rgba(255, 255, 255, 0.24);
    border: 1px transparent;
    box-sizing: border-box;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 1px 12px;
  }

  #tagf {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    position: static;
    width: 61px;
    height: 40px;
    left: 1px;
    top: 1px;
    background-color: rgba(255, 255, 255, 0.24);
    border: 1px transparent;
    box-sizing: border-box;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 1px 12px;
  }

  .post5 {
    position: static;
    width: 337px;
    height: 21px;
    margin-left: -45px;
    top: 8px;
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: -710px;
    display: block;
  }

  .support6 {
    position: static;
    width: 337px;
    height: 22px;
    left: 16px;
    top: 113px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: -655px;
    margin-left: -45px;
    display: block;
  }

  .tagE {
    font-family: 'Inter', sans-serif;
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-style: normal;
    line-height: 20px;
    margin-left: 810px;
    margin-top: -540px;
    float: left;
    color: #fff;
  }

  #D-tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    position: static;
    width: 55px;
    height: 40px;
    left: 1px;
    top: 1px;
    background-color: rgba(255, 255, 255, 0.24);
    border: 1px transparent;
    box-sizing: border-box;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 1px 12px;
  }

  #D-tag1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    position: static;
    width: 90px;
    height: 40px;
    left: 1px;
    top: 1px;
    background-color: rgba(255, 255, 255, 0.24);
    border: 1px transparent;
    box-sizing: border-box;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 1px 12px;
  }

  #D-tag2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    position: static;
    width: 61px;
    height: 40px;
    left: 1px;
    top: 1px;
    background-color: rgba(255, 255, 255, 0.24);
    border: 1px transparent;
    box-sizing: border-box;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 1px 12px;
  }

  .post6 {
    position: static;
    width: 337px;
    height: 21px;
    margin-left: -45px;
    top: 8px;
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: -295px;
    display: block;
  }

  .support7 {
    position: static;
    width: 337px;
    height: 22px;
    left: 16px;
    top: 113px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: -200px;
    margin-left: -45px;
    display: block;
  }

  .post7 {
    position: static;
    width: 337px;
    height: 21px;
    margin-left: -45px;
    top: 8px;
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: -250px;
    display: block;
  }

  .support8 {
    position: static;
    width: 337px;
    height: 22px;
    left: 16px;
    top: 113px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: -200px;
    margin-left: -45px;
    display: block;
  }

  .tagF {
    font-family: 'Inter', sans-serif;
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-style: normal;
    line-height: 20px;
    margin-left: 810px;
    margin-top: -100px;
    float: left;
    color: #fff;
  }

  #D-tag3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    position: static;
    width: 55px;
    height: 40px;
    left: 1px;
    top: 1px;
    background-color: rgba(255, 255, 255, 0.24);
    border: 1px transparent;
    box-sizing: border-box;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 1px 12px;
  }

  #D-tag4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    position: static;
    width: 90px;
    height: 40px;
    left: 1px;
    top: 1px;
    background-color: rgba(255, 255, 255, 0.24);
    border: 1px transparent;
    box-sizing: border-box;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 1px 12px;
  }

  #D-tag5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    position: static;
    width: 61px;
    height: 40px;
    left: 1px;
    top: 1px;
    background-color: rgba(255, 255, 255, 0.24);
    border: 1px transparent;
    box-sizing: border-box;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 1px 12px;
  }

  .tagG {
    font-family: 'Inter', sans-serif;
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-style: normal;
    line-height: 20px;
    margin-left: 435px;
    margin-top: -100px;
    float: left;
    color: #fff;
  }

  #D-tag6 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    position: static;
    width: 55px;
    height: 40px;
    left: 1px;
    top: 1px;
    background-color: rgba(255, 255, 255, 0.24);
    border: 1px transparent;
    box-sizing: border-box;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 1px 12px;
  }

  #D-tag7 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    position: static;
    width: 90px;
    height: 40px;
    left: 1px;
    top: 1px;
    background-color: rgba(255, 255, 255, 0.24);
    border: 1px transparent;
    box-sizing: border-box;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 1px 12px;
  }

  #D-tag8 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    position: static;
    width: 61px;
    height: 40px;
    left: 1px;
    top: 1px;
    background-color: rgba(255, 255, 255, 0.24);
    border: 1px transparent;
    box-sizing: border-box;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 1px 12px;
  }

  .tab {
    margin-top: -300px;
    position: absolute;
    height: 1395px;
    left: 1px;
    top: 3500px;
    background: #000;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url(Images/about.png);
    background-position-y: 100px;
  }

  .about {
    text-align: center;
    position: static;
    height: 78px;
    width: 30%;
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 81px;
    letter-spacing: 0.37px;
    color: #00c8ff4b;
    margin-top: 100px;
  }

  .support3 {
    position: static;
    width: 40%;
    height: 148px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-left: 35px;
    margin-top: 30px;
  }

  .button3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    position: static;
    height: 48px;
    background-color: #181678;
    margin-top: 30px;
    margin-left: 30px;
    font-family: 'Inter', sans-serif;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    transition: solid 0s;
    border-color: transparent;
    text-align: center;
  }

  .border1 {
    position: inherit;
    width: 80%;
    height: 1px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #fff;
  }

  .full-stack {
    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: center;
    width: 35%;
  }

  .lang {
    margin-top: -1px;
    margin-left: 40px;
  }

  .java {
    margin-top: 25%;
  }

  .ruby {
    margin-top: 5%;
  }

  .fw {
    padding-left: 230px;
  }

  .skills {
    margin-top: 40%;
  }

  #star {
    background: #181678;
    width: 1%;
    height: 1%;
    margin-top: 26%;
    transform: rotate(-45deg) scale(0.5);
  }

  #box {
    background: #181678;
    width: 1%;
    height: 1%;
    margin-top: 3%;
    transform: scale(0.5);
  }

  #circle {
    background: #181678;
    width: 1%;
    height: 1%;
    margin-top: 3%;
    border-radius: 150px;
    transform: scale(0.5);
  }

  .info {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 44px;
    text-align: left;
    color: #262626;
  }

  #full-name {
    position: static;
    height: 18px;
    left: 16px;
    right: 16px;
    top: calc(50% - 18px / 2);
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #979493;
    border-bottom: 1px solid #979493;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    margin-left: 150px;
  }

  #email-address {
    position: static;
    height: 18px;
    left: 16px;
    right: 16px;
    top: calc(50% - 18px / 2);
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #979493;
    margin-left: 150px;
    margin-top: 50px;
    border-bottom: 1px solid #979493;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
  }

  #message {
    position: static;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    width: 100%;
    background: #fbf8f7;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    margin-left: 150px;
    border: transparent;
    margin-top: 40px;
    height: 114px;
  }

  #contact-form {
    background-color: #fff;
    margin-top: 3000px;
    position: static;
    line-height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
  }

  .button4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    position: static;
    width: 131px;
    height: 48px;
    left: 98px;
    top: 395px;
    background-color: #181678;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin-top: 1px;
    margin-left: 150px;
    font-family: 'Inter', sans-serif;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    transition: solid 0s;
    border-color: transparent;
    text-align: center;
  }

  .form-icon {
    position: absolute;
    left: 0;
    right: 0;
    top: 5150px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .hr-line {
    width: 90%;
    position: absolute;
    margin-top: 40px;
    left: 0;
    right: 0;
    border: 1px solid #dfe1e6;
  }

  .menu-over {
    display: none;
  }

  .closeMenu {
    display: none;
  }

  .mobile-menu > li a {
    display: none;
  }

  hr {
    display: none;
  }

  .popup {
    display: none;
    position: fixed;
    justify-content: center;
    left: 0;
    right: 0;
    top: 1px;
    width: 70%;
    height: 70%;
    bottom: 1px;
    background: #fff;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ebecf0;
    box-shadow: 1px 48px 48px rgba(37, 47, 137, 0.08);
    border-radius: 30px;
  }

  .popup1 {
    display: none;
    position: fixed;
    justify-content: center;
    left: 0;
    right: 0;
    top: 1px;
    width: 70%;
    height: 70%;
    bottom: 1px;
    background: #fff;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ebecf0;
    box-shadow: 1px 48px 48px rgba(37, 47, 137, 0.08);
    border-radius: 30px;
  }

  .popup2 {
    display: none;
    position: fixed;
    justify-content: center;
    left: 0;
    right: 0;
    top: 1px;
    width: 70%;
    height: 70%;
    bottom: 1px;
    background: #fff;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ebecf0;
    box-shadow: 1px 48px 48px rgba(37, 47, 137, 0.08);
    border-radius: 30px;
  }

  .popup3 {
    display: none;
    position: fixed;
    justify-content: center;
    left: 0;
    right: 0;
    top: 1px;
    width: 70%;
    height: 70%;
    bottom: 1px;
    background: #fff;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ebecf0;
    box-shadow: 1px 48px 48px rgba(37, 47, 137, 0.08);
    border-radius: 30px;
  }

  .popup4 {
    display: none;
    position: fixed;
    justify-content: center;
    left: 0;
    right: 0;
    top: 1px;
    width: 70%;
    height: 70%;
    bottom: 1px;
    background: #fff;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ebecf0;
    box-shadow: 1px 48px 48px rgba(37, 47, 137, 0.08);
    border-radius: 30px;
  }

  .popup5 {
    display: none;
    position: fixed;
    justify-content: center;
    left: 0;
    right: 0;
    top: 1px;
    width: 70%;
    height: 70%;
    bottom: 1px;
    background: #fff;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ebecf0;
    box-shadow: 1px 48px 48px rgba(37, 47, 137, 0.08);
    border-radius: 30px;
  }

  .closePopUp {
    height: 20px;
    width: 5%;
    position: absolute;
    right: 0;
    top: 12px;
    background-image: url(Images/CancelButton.png);
  }

  .ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: bold;
    position: static;
    width: 270px;
    height: 36px;
    left: 0;
    top: 94px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: -10px;
    margin-left: -7px;
  }

  .popuptg {
    width: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    position: static;
    left: 59.63%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    border: 1px solid #979493;
    box-sizing: border-box;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 1px 8px;
  }

  .popuptg1 {
    width: 86px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    position: static;
    left: 59.63%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    border: 1px solid #979493;
    box-sizing: border-box;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 1px 8px;
  }

  .popuptg2 {
    width: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    position: static;
    left: 59.63%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    border: 1px solid #979493;
    box-sizing: border-box;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 1px 8px;
  }

  .Desktop-head {
    position: static;
    width: 1056px;
    height: 70px;
    left: 1px;
    top: 1px;
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 1px 1px;
    display: block;
  }

  .Mobile-head {
    display: none;
  }

  #Ten {
    display: none;
  }

  #Ten-desktop {
    display: block;
    width: 60%;
  }

  .Text {
    position: static;
    width: 40%;
    height: 336px;
    top: 1px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    margin-top: -310px;
    margin-left: 630px;
  }

  .see-button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px;
    position: absolute;
    width: 150px;
    height: 44px;
    left: 0;
    top: 4px;
    color: #fff;
    background: #181678;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    background-image: url(Images/popupicon1.png);
    background-repeat: no-repeat;
    background-position-x: 110px;
    background-position-y: 12px;
    margin-top: 345px;
    margin-left: 650px;
  }

  .source-button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px;
    position: absolute;
    width: 150px;
    height: 44px;
    left: 0;
    top: 4px;
    color: #fff;
    background: #181678;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    background-image: url(Images/popupicon.png);
    background-repeat: no-repeat;
    background-position-x: 120px;
    background-position-y: 11px;
    margin-top: 345px;
    margin-left: 850px;
  }
}
